@import "../../scss/variables.scss";

.actions__input {
    resize: none;
    padding: 24px;
    border: 1px solid $border;
    width: 100%;
    max-width: 780px;
    height: 100%;
    border: 1px solid $border;
    border-radius: 10px;
    margin-bottom: 40px;
    
    &:focus {
        border: 1px solid $blue;
        border: 1px solid $textColor;
    }
}
