@import "../../scss/variables.scss";
@import "../../scss/templates.scss";
@import "../../scss/mixins.scss";

.actions {
    flex: 0 1 800px;
    position: relative;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__title {
        @extend %title;
        display: inline-block;
    }

    &__buttons {
        display: flex;
        column-gap: 8px;

        & > button {
            width: 84px;
        }
    }

    &__button-save {
        @include button($mainColor, $blue, $blue);
        position: relative;

        &:hover {
            background-color: $blueHover;
        }

        &:active {
            top: 2px;
            transition: all 0.1s ease;
        }
    }

    &__button-delete {
        @include button($orange, $orange, transparent);
        position: relative;

        &:hover {
            background-color: $orange;
            color: $mainColor;
            transition: all 0.2s ease;
        }

        &:active {
            top: 2px;
            transition: all 0.1s ease;
        }
    }
}
